div {
    background-color: lightgrey;
    width: 530px;
    padding: 25px;
    /*border: 1px solid navy;*/
    margin: 25px;
}

.center {
    background-color: lightgrey;
    margin: auto;
    width: 50%;
    border: 1px solid navy;;
    padding: 25px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
