{% extends 'preguntas/base.html' %}
{% block title%} Login {% endblock %}
{% block content %}
	{% if form.errors %}

		<p class='error'> Sorry......, that's not a valid username or password' </p>
	{% endif %}

	<form action="{% url 'preguntas:auth_view' %}" method="post"> {% csrf_token %}

		<label for="username"> - Username:</label>

		<input type="text" name="username" value="" id="username" /><br />

		<label for="username"> - Password:</label>
		<input type="password" name="password" value="" id="password"/><br />

		<input class="btn btn-primary" type="submit" value="Log in">

		<!-- <input type="submit" value="Log In"/> -->
	</form>

{% endblock %}
