
Hello {{usuario.name}}!

{% if question_set %}
<div class="question_set">
    <ul>
        {% for question in question_set %}
        {% with question_id=question.id %}
        <li>{{question}}</li>
        {% endwith %}
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if questions_answered_set %}
<div class="questions_answered_set">
<ul>
    {% for answer in questions_answered_set %}
    {% with answer_id=answer.id %}
    <li>{{answer}}</li>
    {% endwith %}
    {% endfor %}
</ul>
</div>
{% endif %}
