{% extends 'preguntas/base.html' %}
{% block title%} {{usuario.user.username}}'s profile {% endblock %}
{% block content %}

  {% if user.is_authenticated and user.usuario.id == usuario.id %}
    <span>Hello {{usuario.name}}!</span>
    <p>You have {{ usuario.get_points }} points.</p>
  {% else %}
    <p>{{usuario.user.username}} has {{usuario.get_points}} points.</p>
  {% endif %}
  {% if question_set %}
    <div class="question_set">
      <h3>Questions Asked</h3>
      <ul>
        {% for question in question_set %}
          {% with question_id=question.id %}
            <li><a href="{%url 'preguntas:question' question.id%}">{{question.title}}</a></li>
          {% endwith %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if questions_answered_set %}
    <div class="questions_answered_set">
      <h3>Question Answered</h3>
      <ul>
        {% for answer in questions_answered_set %}
          {% with answer_question_id=answer.question_id %}
            <li><a href="{%url 'preguntas:question' answer.question_id%}">{{answer.question.title|lower|truncatewords:'10'}}</a></li>
          {% endwith %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
