{% extends 'preguntas/base.html' %}
{% block title%} {{usuario.name}}'s profile {% endblock %}
{% block content %}
Hello {{usuario.name}}!

<p>
    Ask a <a href="{% url 'preguntas:new_question' %}">New Question</a>.
</p>
{% if question_set %}
<div class="question_set">
    <h3>Questions Asked</h3>
    <ul>
        {% for question in question_set %}
            {% with question_id=question.id %}
            <li><a href="{%url 'preguntas:question' question.id%}">{{question.title}}</a></li>
            {% endwith %}
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if questions_answered_set %}
<div class="questions_answered_set">
    <h3>Question Answered</h3>
<ul>
    {% for answer in questions_answered_set %}
    {% with answer_question_id=answer.question_id %}
    <li><a href="{%url 'preguntas:question' answer.question_id%}">{{answer}}&hellip;</a></li>
    {% endwith %}
    {% endfor %}
</ul>
</div>
{% endif %}

{% endblock %}
