{% extends 'preguntas/base.html' %}

{% block content %}

  <h2>Most Recent Questions</h2>
  {% if question_list %}
    <ul>
      {% for question in question_list %}
        <li> <a href="{%url 'preguntas:question' question.id%}">{{ question|lower|truncatewords:'10'}}</a></li>
      {% endfor %}
    </ul>
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
      {% endif %}
    </span>
  {% else %}
    <p>No questions are available</p>
  {% endif %}

{% endblock %}
