{% extends 'preguntas/base.html' %}
{% block title%} {{question.title}} {% endblock %}
{% block content %}
{% load custom_template_tags %}
<p>
    Go <a href="{%url 'preguntas:questions'%}">Home</a>
</p>
<p>
Question # {{question.id}}
</p>
<p>
  Points: {{question.get_score}}
</p>
<p>
    <h2>Title: {{question.title}}</h2>
</p>

<p>
    {{question.body}}
</p>
<p>
  {%vote_buttons question request%}
</p>
{% if answers %}
<p>
    <h3>Answer(s):</h3>
</p>
    {% for answer in answers %}
    <p>
        {{answer.body}}
    </p>
    <p>
        By <a href="{% url 'preguntas:profile' answer.owner.id%}">{{answer.owner}}</a> on {{answer.created}}.
    </p>
    <p>
      {%vote_buttons answer request%}
    </p>
    {% endfor %}
{% endif %}

<form id="AnswerForm" method="post" action="">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                <p>
                    {{ field }}
                </p>
            {% endfor %}

            <input type="submit" name="submit" value="Add Answer" />
        </form>
{% endblock %}
